.medium-8.medium-push-4.columns
  %h3 #{ @user.name } Wikis
  - if @user.wikis.any?
    = render 'wikis'
  - else
    %p #{ @user.name } has not created any wikis (that you have permission to view)
  = link_to 'New Wiki', new_user_wiki_path(@user), class: 'button'

.medium-4.medium-pull-8.columns
  %p This side bar will have items like
  %ul
    %li Account Status
    %li Number of wikis
    %li Member since
    %li Homepage link