%h1 About Blocipedia

%p Blocipedia is a wiki platform created by #{ link_to 'Spencer Neff', 'http://neffnet.net', target: '_blank' } with the help of his mentor at #{ link_to 'Bloc.io', 'http://bloc.io', target: '_blank' }. This project teaches the fundamentals of web development using Ruby on Rails. The source is hosted at #{ link_to 'Github', 'https://github.com/neffnet/blocipedia' } if you'd like to follow along.

%p Need to #{ link_to 'reset your password', new_user_password_path}?